/*Thins is more for; fixing the main format of the DOM such as the flexbox look, ect. */

@import "details.css";



.flexbox {
    display: flex;
}
.choices {
    font-size: medium;
}
.customOrders {
    font-size: large;
}
section {
    width: 30%;
}
ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}
